{% extends 'layout.html.twig' %}

{% block content %}
<main class="search-music-main">
    <h1>Results for "{{search}}"</h1>
    <form action="/music" method="post" class="search-music-form">
        {% for key, result in results %}
            <div class="search-music">
                <input type="checkbox" name="{{ key }}" id="{{ key }}" class="search-music-input" hidden>
                <div class="search-music-label-div">
                    <label for="{{ key }}" class="search-music-label">{{ result.data.name }}</label>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="save-button">Save</button>
    </form>
</main>
{% endblock %}
