{% extends 'layout.html.twig' %}

{% block content %}
<main class="instrument-choice">
    <h1>Pick your instruments</h1>
    <form class="instrument-form" method ="post" action="/instrument/results">
        {% for instrument in instruments %}
        <div class="background-portee">
            <input type="checkbox" id="{{instrument.id}}" name="{{instrument.id}}" class='instrument-input' hidden>
            <label class="instrument-label" for="{{instrument.id}}" style="margin-top:{{positions[loop.index0]}}rem;">
                    <img src="{{instrument.icon}}" class="instrument-icon">
            </label>
        </div>
        {% endfor %}
        <button class="submit-selected-instruments" type="submit">Go!</button>
    </form>
</main>
{% endblock %}